@use '../abstracts' as *;

.reviews {
	--content-spacing: 1rem;

	@include respond(lg) {
		align-items: center;
		padding-inline: 3rem;
	}

	.review {
		display: grid;
		gap: 0.8rem;
		justify-items: center;

		padding-left: 2rem;
		padding-block: 1.25rem;
		border-radius: 0.5rem;
		background-color: var(--clr-neutral-800);

		@include respond(lg) {
			grid-auto-flow: column;
			align-items: center;
			justify-content: left;
			gap: 2rem;
		}

		&:first-of-type {
			@include respond(lg) {
				transform: translate(-3rem);
			}
		}

		&:last-of-type {
			@include respond(lg) {
				transform: translate(3rem);
			}
		}

		&__stars {
			display: flex;
			gap: 0.5rem;
		}

		&__title {
			color: var(--clr-primary-700);
			font-size: var(--fs-300);
			font-weight: var(--fw-bold);
		}
	}
}
